<%= render 'form', edit: true, flip: @flip %>
<!-- <form action="<%#= flip_url(@flip) %>" method="POST"> -->
    <!-- forms are always submitted with the post method -->
    <!-- to specify a different method, we have to use a hidden input -->
    <!-- the name must be _method to follow Rails naming conventions -->
    <!-- <input type="hidden" name="_method" value="PATCH"> -->
    <!-- <label for="body">Body</label> -->
    <!-- <input type="text" value="<%#= @flip.body %>" name="flip[body]" id="body"> -->
    <!-- the value attribute prefills the input field -->
    <!-- <input type="submit" value="update flip"> -->
<!-- </form> -->