<%= render 'form', edit: false, flip: @flip %>
<!-- <form action="<%#= flips_url %>" method="POST"> -->
    <!-- <label for="body">Body</label> -->
    <!-- <input type="text" id="body" name="flip[body]"> -->
    <!-- the name attribute gives the key in params for the input's value -->
    <!-- the value we input would be accessible with params['flip']['body'] or from the strong params-->
    <!-- <input type="submit" value="flip it">
</form> -->

<!-- we can use a partial instead of having two different html.erb files for new and edit forms -->
<%#  %>